version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: user_service_db
    ports:
      - "5433:5432"  # port مختلف لكل service
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: